<div
	style="
		background-color: lightgreen;
		padding: 20px;
		width: 100%;
		font-size: 14px;
		font-weight: 600;
		color: #333;
	"
>
	<p>
		Hello! We have successfully generated a report on your posts on the
		platform. Attached to this email you will find a file of your posts,
		including titles, content and image links. If you have any questions or
		require additional information, please do not hesitate to contact us.
		Sincerely, Your team
	</p>
	<hr />
	<p>
		Здравствуйте! Мы успешно сгенерировали отчет по вашим постам на платформе. В
		приложении к этому письму вы найдете файл с вашими постами, включая
		заголовки, контент и ссылки на изображения. Если у вас возникнут вопросы или
		вам понадобится дополнительная информация, пожалуйста, не стесняйтесь
		обращаться к нам. С уважением, Ваша команда
	</p>
</div>
