<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="icon" href="/favicon-32x32.png" />
	</head>
	<body>
		<div class="profile-container">
			<h1 class="profile-title">Admin Profile</h1>
			<div id="profile-data" class="profile-data"></div>
			<a href="https://settling-bunny-happy.ngrok-free.app/users/profile/data" class="profile-link"
				>Users List</a
			>
			<a href="https://settling-bunny-happy.ngrok-free.app/admin/show/review" class="profile-link"
				>review</a
			>

			<a href="https://settling-bunny-happy.ngrok-free.app/users/login" class="profile-link logout"
				>log out</a
			>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="/javascripts/profile.js"></script>
	</body>
</html>
