<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="login-container">
			<h1 class="login-title">Forgot Password</h1>
			<form id="forgot-password" class="login-form">
				<label for="email" class="form-label">Email</label>
				<input
					type="email"
					id="email"
					class="form-input"
					style="width: 100%; margin-bottom: 20px"
					placeholder="Email"
					name="email"
				/>
				<span class=""></span>
				<input type="submit" class="form-input" value="Send email" />
			</form>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		const form = document.querySelector('#forgot-password');

		form.addEventListener('submit', async event => {
			event.preventDefault();

			const data = {
				email: document.getElementById('email').value,
			};

			try {
				const response = await axios.post('/users/forgot/password', data);
				console.log('Response:', response.data);
				alert('сообщения отправлено на ваш адрес');
				location.reload();
			} catch (error) {
				if (error.response && error.response.status === 404) {
					const spanElement = document.createElement('p');
					spanElement.style.textAlign = 'center';
					spanElement.innerText = error.response.data.message;
					form.append(spanElement);
					setInterval(() => {
						spanElement.innerHTML = '';
					}, 3000);
				}
				console.error('Error:', error);
			}
		});
	</script>
</html>
