<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="icon" href="/favicon-32x32.png" />
	</head>
	<body>
		<div class="login-container">
			<form id="update-password-form" class="login-form">
				<h1>Updating your password</h1>
				<input
					type="password"
					class="form-input"
					style="width: 100%; margin-bottom: 20px"
					name="newPassword"
					id="newPassword"
					placeholder="Новый пароль"
					required
				/>
				<input
					type="password"
					class="form-input"
					style="width: 100%; margin-bottom: 20px"
					name="repeatPassword"
					id="repeatPassword"
					placeholder="Повторите пароль"
					required
				/>
				<input
					type="submit"
					style="width: 100%; margin-bottom: 20px"
					value="Сменить пароль"
				/>
			</form>
		</div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		const form = document.querySelector('#update-password-form');
		const key = '<%= key %>';
		form.addEventListener('submit', async event => {
			event.preventDefault();

			if (!key) {
				alert('Ключ не найден в URL!');
				return;
			}

			const data = {
				newPassword: document.getElementById('newPassword').value,
				repeatPassword: document.getElementById('repeatPassword').value,
			};

			if (data.newPassword.length < 3 || data.repeatPassword.length < 3) {
				alert('Пароль должен содержать не менее 3-х символов');
				return;
			}

			try {
				const response = await axios.put(
					`/users/update/password?key=${key}`,
					data
				);
				console.log('Response:', response.data);

				alert('Пароль успешно обновлен');

				location.href = '/users/login';
			} catch (error) {
				console.error('Error:', error.response.data);
			}
		});
	</script>
</html>
