<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Users List</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="icon" href="/favicon-32x32.png" />
	</head>
	<body>
		<div class="container">
			<a class="back" href="https://settling-bunny-happy.ngrok-free.app/admin/profile">Back</a>
			<h1>Users List</h1>
			<ul id="users-list"></ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="/javascripts/usersList.js"></script>
	</body>
</html>
